<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        We are Fortune 500 Company Specializing in Automobiles, We are pionners of the Indian Automobile Industry.
    Our Understands the customers need and serves accordingly, also we have many branches all over the counrty.
    We target the people who are difficult to buy used permium cars in the market.
        
    <br/>
</p>
<div class="col-lg-6 col-lg-12">
    <h1>Enter Your Details</h1>
    <form>

       <input type="text" class="form-control" placeholder="Enter Your Full Name" />
       <input type="text" class="form-control" placeholder="Enter Your Mobile" />
       <textarea class="form-control" placeholder="Enter Your Address"></textarea> 
       <button class="btn btn-md btn-dark mt-3">Submit</button>
    </form>     
  </div>
</div>