<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus doloribus tempora at quaerat quod soluta assumenda ipsam quasi veritatis ullam? Eaque dolore blanditiis nisi quod debitis quam repellat eius libero.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta esse id porro odio ad alias sequi nulla, perspiciatis molestias et enim tempore qui obcaecati rerum ullam. Placeat odit eum voluptatem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam maiores eaque at animi corporis architecto maxime debitis, optio quia, cupiditate fugit in porro? Quisquam id harum ullam voluptatum dolorum quidem.
    <br/>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde exercitationem aspernatur pariatur, cum sed minus, atque accusantium aliquid omnis iure iusto reiciendis, placeat facilis? Quod nam ut illum ex quidem.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero nam molestiae at ad tenetur. Beatae repudiandae libero voluptate saepe. Aliquid, laboriosam. Et magni ullam architecto culpa corrupti error quaerat dolorem.
    <br/>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi minus esse ratione molestiae soluta voluptatem beatae enim veritatis aliquid accusantium doloremque totam distinctio debitis, ex, voluptatibus atque tenetur ipsa repellat!
    <br/>
</p>

</div>