.carbox
{
    padding: 10px 10px;
}
.carbox img
{
    width: 10px;
    height: 10px;
    border-top: 15px;
    border-bottom: 15px;
    border-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-height: 50px;
    border-radius: 5px;
}
.carbox h1
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.buybtn
{
    color: #000;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}